name: Benchmark

on:
  workflow_run:
    workflows: [Run Tests]
    types: [completed]

jobs:
  debug:
    runs-on: ubuntu-24.04
    steps:
      - name: Debug Workflow Event
        env:
          EVENT_CONTEXT: ${{ toJson(github.event) }}
        run: |
          echo "Workflow run conclusion: ${{ github.event.workflow_run.conclusion }}"
          echo "Workflow run event: ${{ github.event.workflow_run.event }}"
          echo "Full Event Context:"
          echo "$EVENT_CONTEXT"

  benchmark:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'pull_request' }}
    permissions:
      pull-requests: write
    steps:
      - name: Set Up Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install Benchmarking Tools
        run: |
          cargo install critcmp

      - name: Checkout Main Branch
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.REPO_ACCESS_TOKEN }}

      - name: Run Benchmarks on Main Branch
        run: |
          cargo bench --bench fibonacci -- --save-baseline main-branch
        timeout-minutes: 10

      - name: Checkout PR Branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
          token: ${{ secrets.REPO_ACCESS_TOKEN }}

      - name: Run Benchmarks on PR Branch
        run: |
          cargo bench --bench fibonacci -- --save-baseline pr-branch
        timeout-minutes: 10

      - name: Compare Benchmarks
        run: |
          critcmp main pr > benchmarks-fib

      - name: Create Report
        run: |
          cat > BENCHMARK_REPORT.md << EOF
          # Benchmarks

          ## Fibonacci

          <details>
              <summary>Details</summary>

          \`\`\`
          $(cat benchmarks-fib)
          \`\`\`

          </details>
          EOF

      - name: Post PR Comment with Benchmark Results
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: benchmark
          number: ${{ github.event.workflow_run.pull_requests[0].number }}
          path: BENCHMARK_REPORT.md
