# This workflow will run on the default branch when triggered by a `workflow_run` event.

name: Benchmark

on:
  workflow_run:
    workflows: [Run Tests]
    types: [completed]

# Cancels in-progress runs for runs on the same branch as the PR if the workflow is
# re-triggered (by e.g. another push to the PR and successful Test workflow run).
concurrency:
  group: ${{ github.workflow }}-${{ github.event.workflow_run.head_branch }}
  cancel-in-progress: true

jobs:
  debug:
    runs-on: ubuntu-24.04
    steps:
      - name: Debug Workflow Event
        env:
          EVENT_CONTEXT: ${{ toJson(github.event) }}
        run: |
          echo "Workflow run conclusion: ${{ github.event.workflow_run.conclusion }}"
          echo "Workflow run event: ${{ github.event.workflow_run.event }}"
          echo "GitHub SHA: ${{ github.sha }}"
          echo "Workflow run head SHA: ${{ github.event.workflow_run.head_sha }}"
          echo "Full Event Context:"
          echo "$EVENT_CONTEXT"

  benchmark:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'pull_request' }}
    permissions:
      pull-requests: write
    steps:
      - name: Set Up Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install Benchmarking Tools
        run: |
          cargo install critcmp

      - name: Checkout Main Branch
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.REPO_ACCESS_TOKEN }}

      - name: Run Benchmarks on Main Branch
        run: |
          cargo bench --bench fibonacci -- --save-baseline main_branch
        timeout-minutes: 10

      - name: Checkout PR Branch
        run: |
          git fetch origin ${{ github.event.workflow_run.head_sha }}
          git checkout -f ${{ github.event.workflow_run.head_sha }}

      - name: Run Benchmarks on PR Branch
        run: |
          cargo bench --bench fibonacci -- --save-baseline pr_branch
        timeout-minutes: 10

      - name: Compare Benchmarks
        run: |
          critcmp main_branch pr_branch > benchmarks_fib

      - name: Create Report
        run: |
          cat > BENCHMARK_REPORT.md << EOF
          # Benchmarks

          ## Fibonacci

          <details>
              <summary>Details</summary>

          \`\`\`
          $(cat benchmarks_fib)
          \`\`\`

          </details>
          EOF

      - name: Post PR Comment with Benchmark Results
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: benchmark
          number: ${{ github.event.workflow_run.pull_requests[0].number }}
          path: BENCHMARK_REPORT.md
