name: Benchmark

on:
  workflow_run:
    workflows: [Run Tests]
    types: [completed]

jobs:
  benchmark:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'pull_request' }}
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install Benchmarking Tools
        run: |
          cargo install critcmp

      - name: Checkout Main Branch
        run: |
          git fetch origin "$GITHUB_DEFAULT_BRANCH":"$GITHUB_DEFAULT_BRANCH"
          git checkout -f "$GITHUB_DEFAULT_BRANCH"

      - name: Run Benchmarks on Main Branch
        run: |
          cargo bench --bench fibonacci -- --save-baseline main
        timeout-minutes: 10

      - name: Checkout PR Branch
        run: |
          git checkout -f ${{ github.sha }}

      - name: Run Benchmarks on PR Branch
        run: |
          cargo bench --bench fibonacci -- --save-baseline pr
        timeout-minutes: 10

      - name: Compare Benchmarks
        run: |
          critcmp main pr > benchmarks-fib

      - name: Post PR Comment with Benchmark Results
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: benchmark
          number: ${{ github.event.workflow_run.pull_requests[0].number }}
          message: |
            # Benchmarks

            ## Fibonacci

            <details>
                <summary>Details</summary>

            ```
            $(cat benchmarks-fib)
            ```

            </details>
